body{
  background: rgb(84, 160, 186);
  font: normal 15pt Arial;
}

header/*, footer */{
  color: azure;
  text-align: center;
}

section{
  background: azure;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

footer{
  color: azure;
  text-align: center;
  font-style: italic;
}